* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdc9c9;
}

#circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(66, 66, 172);
    color: #fff;
    font-size: 22px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
    cursor: pointer;
}

.hover {
    transform: scale(2);
}